.chess-board{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  width: 50rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.is-cursor-pointer{
  cursor: pointer;
}
.main{
  display: flex;
}
.main .player-top{
  align-items: flex-start;
}

.main .player-bottom{
  align-items: flex-end;
}

.main .player{
  flex-grow: 1;
  display: flex;
  padding: 1rem;
}

.main .player>div{
  width: 100%;
  background-color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  width: 20rem;
  overflow: hidden;
}

@media (max-width:1200px) {
  .main{
    flex-direction: column;
  }
}